<ion-header class="ion-no-border ion-text-right ion-margin-top ion-margin-end">
  <a href="/en/gameWon?score={{ this.score }}">EN</a>
  <a href="/ca/gameWon?score={{ this.score }}">CA</a>
  <a href="/es/gameWon?score={{ this.score }}">ES</a>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <h1 class="title">🎉 GAME WON 🎉</h1>
        </ion-row>
        <ion-row>
          <p class="subtitle">{{ scoreTxt() }}: {{ this.score }}</p>
        </ion-row>
        <ion-row>
          <button class="subtitle homeBtn" (click)="goPlay()">{{ play() }}</button>
        </ion-row>
        <ion-row>
          <button class="subtitle homeBtn" (click)="goHome()">{{ home() }}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
