<ion-header class="ion-no-border ion-text-right ion-margin-top ion-margin-end">
  <a href="/en/levelSelect">EN</a>
  <a href="/ca/levelSelect">CA</a>
  <a href="/es/levelSelect">ES</a>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <!-- <ion-row>
          <h1 class="title">{{ title() }}</h1>
        </ion-row> -->
        <ion-row>
          <h2>{{ description() }}</h2>
        </ion-row>
        <ion-row>
          <button class="subtitle homeBtn" (click)="goLevel1()">{{ level1() }}</button>
        </ion-row>
        <ion-row>
          <button class="subtitle homeBtn" (click)="goLevel2()">{{ level2() }}</button>
        </ion-row>
        <ion-row>
          <button class="subtitle homeBtn" (click)="goLevel3()">{{ level3() }}</button>
        </ion-row>
        <ion-row>
          <button class="subtitle homeBtn" (click)="goHome()"><-{{ back() }}</button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
